<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>
<body>

    <h1>Killarney Farms Swim Center</h1>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            Join us at Killarney Farms Swim Center! We believe swimming is meant to be fun whether you're splashing, racing or something in between. Killarney is the neighborhood swim club for families to enjoy their summers poolside.
            We've lowered our membership fees this season and added a new calendar of events! See our membership page and join today!
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/vide/jquery.vide.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/coming-soon.min.js"></script>


</body>
</html>