<h1>Swim Team Info</h1>

<a href="http://www.killarneyfarms.net/files/Swim_Team_Registration_2018_-_DocHub.pdf">Download the form</a>

<p>Practices will start on Monday, May 7</p>

<p>Spring training schedule May 7-June 8: M-Th: Group 2 5pm - 5:40pm & Group 1 5:45pm
- 6:45pm </p>

<p>No practice Mon, May 28 in observance of Memorial Day (Tentative)</p>

<p>Summer training schedule June 11-July 13 M-Fri:</p>
<p>AM swimmers Group 1 8:30am - 9:30am & Group 2 9:35am - 10:15am ***PM swimmers Group 2 6:15pm - 6:55pm & Group 1 7:00pm -
8:00pm</p>

No practice Wed, July 4 in observance of Independence Day Practice times are subject to change 

Spring practices will run evenings Monday through Thursday, summer practices will run mornings Monday through Friday AND evenings Monday, Tuesday,
and Thursday. Swimmers are required to attend a minimum of 2 practices per week in the Spring (5/7-6/8) and a minimum of
3 practices per week in the summer (6/11-7/13). 

*** We are considering adding an evening option for summer practices. This
will be based on interest indicated on surveys that will be handed out in May to parents.