<div class="container-fluid" style="padding: 25px">
    <div class="row">
        <div class="col-sm-6">
            <h1>Family Membership Rates</h1><br>
            
            <p><b>FOR RETURNING 2017 MEMBERS! - $600</b></p> 
            
            <p><b>FOR NEW MEMBERS! - $600, plus $100 maintenance fee.</b>
            The maintenance fee is waived for returning 2017 members and members who complete 10 hours of volunteer service at the facility, where available.</p>

            <p>Refer a Member, receive cash! If you refer a new family to join, you can receive a $100
            rebate!<br>
            <a href="http://www.killarneyfarms.net/files/FamilyMembershipAndLiabilityRelease2018.pdf">Find the 2018 membership form here</a>, and refer to the pricing schedule above!</p>

            <p>Pay by Cash or Check - Simply include your payment with your completed membership form and liability release. Bring them in for your first swim or mail them to the address listed on the form.</p>
        </div>

        <div class="col-sm-6">
            <img class="rounded img-responsive img-fluid" src="https://i.imgur.com/w3bJ7Gx.jpg" />
        </div>
    </div>

    <br><br>
    <div class="row">

        <div class="col-sm-6">
            <img class="rounded img-responsive img-fluid" src="https://i.imgur.com/1OwOVF0.jpg" />
        </div>
        <div class="col-sm-6">
            <h2>Membership Benefits</h2>
            <table class="table table-borderless">
                <thead>
                    <!-- <tr>
                                            <th>Firstname</th>
                                            <th>Lastname</th>
                                            <th>Email</th>
                                        </tr> -->
                </thead>
                <tbody>
                    <tr>
                        <td>Designated lap swim lane</td>
                        <td>2.5 ft shallow end and 9ft deep end</td>
                    </tr>
                    <tr>
                        <td>BBQ area</td>
                        <td>Diving board</td>
                    </tr>
                    <tr>
                        <td>Swim Team and Lessons</td>
                        <td>Lounge chairs</td>
                    </tr>
                    <tr>
                        <td>Snack Shack - <i>it's not summer without otter pops!</i></td>
                        <td></td>
                    </tr>
                    <!-- <tr>
                                            <td>July</td>
                                            <td>Dooley</td>
                                            <td>july@example.com</td>
                                        </tr> -->
                </tbody>
            </table>
        </div>
    </div>

</div>