<h1>Membership#index</h1>
<p>Family Membership Rates FOR RETURNING 2017 MEMBERS! $600 FOR NEW MEMBERS! $600, plus $100 maintenance fee. (The maintenance
fee is waived for returning 2017 members. The maintenance fee requirement can be satisfied by 10 hours of volunteer service
at the facility, where available). Refer a Member, receive cash! If you refer a new family to join, you can receive a $100
rebate! Find the 2018 membership form here, and refer to the pricing schedule above! Pay by Check Simply include your payment
with your completed membership form and liability release. Return them to the address given on the membership form.</p>
